@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

::selection {
  color: #090C10;
  background: #F4DF94;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes fade-in--body {
  from {
    max-height: 0%;
    opacity: 0;
  }
  to {
    max-height: 100%;
    opacity: 1;
  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes show-sections {
  from { max-height: 0%; }
  to { max-height: 100%; }
}

@keyframes mobile-hero-image {
  from { max-height: 0%; opacity: 0;}
  50% { max-height: 100%; opacity: 0; }
  to { max-height: 100%; opacity: 1;}
}

@layer components {
  .hero--radial-gradient__left {
    mask-image: radial-gradient(ellipse 100% 100% at left center, #000 50%, transparent 100%);;
  }
  .hero--radial-gradient__right {
    mask-image: radial-gradient(ellipse 100% 100% at right center, #000 50%, transparent 100%);;
  };
  .hero--radial-gradient__bottom {
    mask-image: radial-gradient(ellipse 100% 100% at bottom center, #000 50%, transparent 100%);;
  };
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
